@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin:0
}


body{
font-family: 'Poppins', sans-serif;
}


button{
  all: unset;
  padding: 4px 10px;
  background: red;
  height: 32px;
  color: white;
  font-weight: 500 ;
}
nav{
  display:flex;
  justify-content: space-between;

  max-width: 1280px;
  margin: 0 auto;
  height: 72px;
  align-items: center;

}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}


.hero-content {
  display:flex;
  align-items: center;
  height: 50px;

}


.hero-btn button{

}
.hero h1 {
  font-weight: 600;
  line-height: 110px;
  font-size: 90px;

}

.hero p{
  font-weight: 600;
  color: grey;


}

.hero-btn{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.secondary-btn{
  background-color: transparent;
  color: grey;
  border: 2px solid black;


}

.shopping p{
  font-size: 14px;
  margin-bottom: 8px;
  
}
.brand-icons{

}

.hero-content{
  display: flex;
  flex-direction: column;
  gap:16px;
}